Repository space-wizards/docs, pull requests merged in 2024-11, with the labels that each got.

#339 Add dev enviroment setup video
  src/en/general-development/setup/setting-up-a-development-environment.md
Labels: Meta, English

#340 Minor updates to adding-a-simple-bikehorn.md
  src/en/ss14-by-example/adding-a-simple-bikehorn.md
Labels: English

#345 Change CVar config file reference for SS14 PR #33268
  src/en/general-development/tips/config-file-reference.md
Labels: English

#346 Triage Procedure documentation
  src/SUMMARY.md
  src/en/wizden-staff/maintainer/triage-procedure.md
Labels: English

#347 Review Procedure Rewrite
  src/en/general-development/codebase-info/pull-request-guidelines.md
  src/en/wizden-staff/maintainer/review-procedure.md
Labels: English

#348 Fix up a broken link
  src/en/general-development/codebase-info/releases.md
Labels: English

#350 Update docs with new label definitions
  src/en/wizden-staff/maintainer/review-procedure.md
  src/en/wizden-staff/maintainer/triage-procedure.md
Labels: English

#342 [Proposal] Expand pneumatic valves to have a GUI and inversible
  .gitignore
  src/en/space-station-14/departments/engineering/proposals/inverse-pneumatic-valves.md
Labels: Design, English

#351 Implement new appeals policy
  src/en/community/admin/wizards-den-banning-policy.md
Labels: English
