Repository space-wizards/docs, pull requests merged in 2025-04, with the labels that each got.

#435 add implementation plan requirement to design docs
  src/en/templates/proposal.md
Labels: English

#434 Add policy for adding new maintainers
  src/SUMMARY.md
  src/en/wizden-staff/maintainer/adding-new-maintainers.md
Labels: English

#440 Fix URL to OIDC config
  src/en/server-hosting/oauth.md
Labels: English

#444 Add/update some code conventions
  src/en/general-development/codebase-info/conventions.md
Labels: English

#445 Add minutes for 2025-04-06 admin meeting
  src/SUMMARY.md
  src/en/admin-meetings/admin-meeting-2025-04-06.md
Labels: English

#439 [Proposal] Playtime Reminders - A feature raising awareness of addiction to SS14
  src/en/space-station-14/user-interface/proposals/media/playtime-reminder-mockup.png
  src/en/space-station-14/user-interface/proposals/playtimereminders.md
Labels: Design, English

#441 update the triage policy
  src/en/wizden-staff/maintainer/triage-procedure.md
Labels: English, Policy/Organizational

#448 Add code convention about putting fields above all else.
  src/en/general-development/codebase-info/conventions.md
Labels: English

#449 Fixing "Bellow" to "Below" and some small comma adding.
  src/en/general-development/setup/server-hosting-tutorial.md
Labels: English

#446 Improve development and guidebook docs
  src/en/assets/images/setup-rider-configurations-1.jpg
  src/en/assets/images/setup-rider-configurations-2.jpg
  src/en/assets/images/setup-rider-configurations.png
  src/en/general-development/setup/setting-up-a-development-environment.md
  src/en/general-development/tips/writing-guidebook-entries.md
Labels: English

#432 Xenoborgs
  src/SUMMARY.md
  src/en/space-station-14/round-flow/antagonists/Xenoborgs.md
Labels: English

#443 Revised PR Review Procedure
  src/en/wizden-staff/maintainer/review-procedure.md
Labels: English
